In [1]:
import pandas as pd

In [16]:
df = pd.read_csv('/Users/finn/Documents/GitHub/data/e4e6/Uncleaned Data/wb_tax_comparison/API_GC.TAX.TOTL.GD.ZS_DS2_en_csv_v2_5358890.csv', skiprows=3)

In [18]:
# Keep United Kingdom, United States, Indonesia, Brazil, Russian Federation, Vietnam, Bangladesh, Pakistan, India, Germany, China, Mexico, Thailand, Japan
keep = ['United Kingdom', 'United States', 'Indonesia', 'Brazil', 'Russian Federation', 'Vietnam', 'Bangladesh', 'Pakistan', 'India', 'Germany', 'China', 'Mexico', 'Thailand', 'Japan']
df = df[df['Country Name'].isin(keep)]

In [21]:
df = df[['Country Name', '2020']]

In [22]:
df

           Country Name       2020
20           Bangladesh   7.001537
29               Brazil  12.961220
40                China   8.090626
55              Germany  10.548389
81       United Kingdom  24.726985
106           Indonesia   8.312977
109               India        NaN
119               Japan        NaN
154              Mexico  14.286840
184            Pakistan        NaN
202  Russian Federation  10.826046
233            Thailand  14.480298
251       United States   9.861612
257             Vietnam        NaN

In [23]:
df = df.dropna()
df.columns = ['Country', 'Value']

In [24]:
df

                Country      Value
20           Bangladesh   7.001537
29               Brazil  12.961220
40                China   8.090626
55              Germany  10.548389
81       United Kingdom  24.726985
106           Indonesia   8.312977
154              Mexico  14.286840
202  Russian Federation  10.826046
233            Thailand  14.480298
251       United States   9.861612

In [25]:
df.to_csv("/Users/finn/Documents/GitHub/data/e4e6/intl_tax.csv", index=False)