### US Income Data

What I want:
</br>
<img width='500px' src="target_sketch.jpeg"></img>
</br>
What I have:
</br>

<img width='500px' src="start_shot.png"></img>
</br>
What I need to do:
* Load in each sheet to temp dfs
* Melt
* Add series and view cols

In [70]:
import pandas as pd
import numpy as np

wd = '/Users/finn/Documents/GitHub/data/e4e3' #Path of e4e3 folder

#### First the Income by Percentiles:

In [71]:
df = pd.read_excel(f'{wd}/Uncleaned Data/US Quintiles Incomes 1967-2021.xlsx',skiprows=68)
df.columns = ['Year', 'n', '20th', '40th', '60th', '80th', '95th']
df['Year'] = df['Year'].astype(str).str[0:4] # Some Years have notes, let's lose these
df = df
df = df.loc[:, df.columns != 'n'] #don't care about n
df = pd.melt(df, id_vars=['Year'], var_name='Series', value_name='Income')
df['View'] = 'by Percentile'

pctile_df = df
pctile_df

     Year Series  Income           View
0    2021   20th   28007  by Percentile
1    2020   20th   28544  by Percentile
2    2019   20th   29762  by Percentile
3    2018   20th   27621  by Percentile
4    2017   20th   27435  by Percentile
..    ...    ...     ...            ...
280  1971   95th  144394  by Percentile
281  1970   95th  144708  by Percentile
282  1969   95th  142828  by Percentile
283  1968   95th  135852  by Percentile
284  1967   95th  135134  by Percentile

[285 rows x 4 columns]

#### Then by Race:
Have one sheet with lots of tables. Let's define a list of lists to store race and row number for each then loop over.

In [72]:
rows_races = [
    ['All Races', 8],
    ['White Alone', 68],
    ['White', 93],
    ['White Alone, Not Hispanic', 131],
    ['White, Not Hispanic', 156],
    ['Black Alone or in Combination', 189],
    ['Black Alone', 214],
    ['Black', 239],
    ['Asian Alone or in Combination', 277],
    ['Asian Alone', 302],
    ['Asian and Pacific Islander', 327],
    ['Hispanic (any race)', 345]] #Used to loop over document, selecting each race-income table

In [73]:
race_df = None
for race, row in rows_races:
    df = pd.read_excel(f'{wd}/Uncleaned Data/US Median Income By Year and Race 1967-.xlsx',skiprows=row)
    df.columns = ['Year', 'n', 'Median (Current USD)', 'Income',  'Mean (Current USD)', 'Mean (2021 USD)']
    df = df[['Year', 'Income']] #Only care about current dollars real incomes
    df['Year'] = df['Year'].astype(str).str[0:4] # Some Years have notes, let's lose these
    df['Series'] = race
    #We only want to read until the end of the current table not the whole sheet, so:
    if len(df.index[df.iloc[:, 1].isna()])>0: #Check if there are any empty rows [end of table]
        first_empty_row = df.index[df.iloc[:, 1].isna()][0] #1. Find first empty row if there are
        df = df.iloc[:first_empty_row, :] #2. lose all after that
    if race_df is None:
        race_df = df
    else:
        race_df = pd.concat([race_df, df], ignore_index=True)
#Have some (~5 rows) missing data, let's lose those rows
race_df = race_df[race_df['Income'] != 'N']
race_df['View'] = 'by Race'

In [74]:
race_df.Series.unique()

array(['All Races', 'White Alone', 'White', 'White Alone, Not Hispanic',
       'White, Not Hispanic', 'Black Alone or in Combination',
       'Black Alone', 'Black', 'Asian Alone or in Combination',
       'Asian Alone', 'Asian and Pacific Islander', 'Hispanic (any race)'],
      dtype=object)

<b> Binding pre-2001 racial categories to post-2021 racial categories </b>

In 2001, racial categories changed. Let's reduce down to a simple (oversimple?) set: White (Non Hispanic), Hispanic, Black, Asian and Pacific Islander

In [75]:
rebinds = {
    'White Alone, Not Hispanic' : 'White, Not Hispanic',
    'Black Alone or in Combination' : 'Black',
    'Black Alone' : 'Black',
    'Black' : 'Black',
    'White, Not Hispanic' : 'White, Not Hispanic',
    'Asian Alone' : 'Asian',
    'Asian and Pacific Islander': 'Asian',
}

In [76]:
race_df = race_df.replace({"Series":rebinds})

In [77]:
race_df.query("Series == 'Black'")

     Year Income Series     View
166  2021  48815  Black  by Race
167  2020  48936  Black  by Race
168  2019  48827  Black  by Race
169  2018  44984  Black  by Race
170  2017  44197  Black  by Race
..    ...    ...    ...      ...
240  1971  33368  Black  by Race
241  1970  34574  Black  by Race
242  1969  34672  Black  by Race
243  1968  32536  Black  by Race
244  1967  30761  Black  by Race

[79 rows x 4 columns]

In [78]:
race_df = race_df[race_df['Series'].isin(list(rebinds.values())+['Hispanic (any race)', 'All Races'])]

In [79]:
race_df = race_df.groupby(['Year', 'Series']).aggregate({'Income': 'first'}).reset_index()

In [80]:
race_df.Series.value_counts()
race_df['View'] = 'by Race'

#

#### and finally by Region:
Have one sheet with lots of tables. Let's define a list of lists to store race and row number for each then loop over.

In [81]:
rows_regions = [
    ['United States', 8],
    ['Northeast', 60],
    ['Midwest', 112],
    ['South', 164],
    ['West', 216]]

In [82]:
region_df = None
for region, row in rows_regions:
    df = pd.read_excel(f'{wd}/Uncleaned Data/US Median Incomes by Region.xlsx',skiprows=row)
    df.columns = ['Year', 'n', 'Median (Current USD)', 'Income',  'Mean (Current USD)', 'Mean (2021 USD)']
    df = df[['Year', 'Income']] #Only care about current dollars real incomes
    df['Year'] = df['Year'].astype(str).str[0:4] # Some Years have notes, let's lose these
    df['Series'] = region
    #We only want to read until the end of the current table not the whole sheet, so:
    if len(df.index[df.iloc[:, 1].isna()])>0: #Check if there are any empty rows [end of table]
        first_empty_row = df.index[df.iloc[:, 1].isna()][0] #1. Find first empty row if there are
        df = df.iloc[:first_empty_row, :] #2. lose all after that
    if region_df is None:
        region_df = df
    else:
        region_df = pd.concat([region_df, df], ignore_index=True)
#Have some (~5 rows) missing data, let's lose those rows
region_df = region_df[region_df['Income'] != 'N']
region_df['View'] = 'by Region'

### Bringing the 'All Races' to the quintiles

In [83]:
df = pd.concat([pctile_df, race_df, region_df])

In [84]:
med_df = df[df.Series == 'All Races'].copy()
med_df.View = 'by Percentile'
med_df.Series = 'Median'

In [85]:
df = pd.concat([df, med_df])

### Merging Them All
and exporting to a csv

In [86]:
df.to_csv('us_incomes_pctile_race_region.csv', index=False)
df.to_excel('us_incomes_pctile_race_region.xlsx', index=False)

In [96]:
Views = df.View.unique()
{View:list(df.query(f"View == '{View}'")['Series'].unique()) for View in Views}

# assemble vega expression
expr = ""

{'by Percentile': ['20th', '40th', '60th', '80th', '95th', 'Median'],
 'by Race': ['All Races',
  'Black',
  'Hispanic (any race)',
  'White, Not Hispanic',
  'Asian'],
 'by Region': ['United States', 'Northeast', 'Midwest', 'South', 'West']}

In [99]:
list(df.Series.unique())

['20th',
 '40th',
 '60th',
 '80th',
 '95th',
 'All Races',
 'Black',
 'Hispanic (any race)',
 'White, Not Hispanic',
 'Asian',
 'United States',
 'Northeast',
 'Midwest',
 'South',
 'West',
 'Median']

In [90]:
len(df.View.unique())

3